/*********** Universal box sizing with inheritance ***********/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: black;
}

canvas {
  width: 100%;
  margin: 0 auto;
}